body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #f3f3f3;
  font-family: Arial, sans-serif;
}
.calculator {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(1.5)

}
.calculator-history {
  width: 260px;
  height: 20px;
  color: #888;
  font-size: 0.9rem;
  text-align: right;
  margin-bottom: 4px;
  overflow-x: auto;
}
.calculator-screen {
  width: 260px;
  height: 48px;
  border: none;
  background: #252525;
  color: #0f0;
  font-size: 2rem;
  text-align: right;
  padding: 0 12px;
  margin-bottom: 8px;
  border-radius: 5px;
}
.calculator-body {
  display: flex;
}


.operators {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
}
.operators button {
  width: 48px;
  height: 48px;
  margin-bottom: 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: #eee;
  font-size: 1.2rem;
}
.operators .operator {
  background: #fe9505;
  color: #fff;
}
.operators .equal-sign {
  background: #0078d4;
  color: #fff;
  margin-top: auto;
}
.numbers {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-auto-rows: 60px;
  grid-gap: 4px;
}
.numbers button {
  border: none;
  border-radius: 4px;
  background: #ddd;
  font-size: 1.2rem;
  cursor: pointer;
}
.numbers .zero {
  grid-column: 1 / span 3;
  background: #ddd;
}
.operators button:hover,
.numbers button:hover {
  background-color: #321f5c;        /* a bit lighter/darker than normal */
  transform: translateY(-2px);    /* lift it up 2px */
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  color: #fff;
}


